@import "tailwindcss";
@import "swiper/css";

html{
    scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;   /* change arrow color */
  font-weight: thin;
  height: 16px !important;
  width: 16px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px; /* arrow icon size */
}
/* Thin black scrollbar */
::-webkit-scrollbar {
  width: 2px;              /* 👈 scrollbar thickness */
}

::-webkit-scrollbar-track {
  background: transparent;  /* 👈 track behind scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: black;  /* 👈 scrollbar color */
  border-radius: 9999px;    /* 👈 makes it rounded */
}

.detailsHeading{
  @apply text-xl font-semibold my-3
}

 .swiper-pagination {
  display: block !important;
  position: absolute !important;
  bottom: 0rem !important; /* bottom-10 */
}
@media (min-width: 768px) {
  .swiper-pagination {
    display: none !important; /* hide on md+ */
  }
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important; /* inactive */
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #ffffff !important; /* active = white */
}