@import "tailwindcss";
@import "swiper/css";

html{
    scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;   /* change arrow color */
  font-weight: thin;
  height: 10px;
  width: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px; /* arrow icon size */
}
/* Thin black scrollbar */
::-webkit-scrollbar {
  width: 2px;              /* 👈 scrollbar thickness */
}

::-webkit-scrollbar-track {
  background: transparent;  /* 👈 track behind scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: black;  /* 👈 scrollbar color */
  border-radius: 9999px;    /* 👈 makes it rounded */
}

.detailsHeading{
  @apply text-xl font-semibold my-3
}

.swiper-pagination {
  @apply block md:hidden absolute bottom-10 right-10;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5); /* inactive = dim white */
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: white; /* active = pure white */
}